<div class="container">
  <div class="card white profile deep-orange-text">
    <h1 class="deep-orange-text"><%= @team.name %></h1>
    <p>Team Captain: <%= link_to @team.creator.name, @team.creator %></p>
    <p>Team Members:
      <ul>
        <% @members.each do |member| %>
          <%= render partial:"members", locals: {member: member} %>
        <% end %>
      </ul>
      <% if user_not_on_team %>
        <%= link_to "Join Team", join_team_path(@team), method: :post, class: "waves-effect waves-light btn deep-orange" %>
      <% elsif user_on_team %>
        <%= link_to "Leave Team", leave_team_path(@team), method: :delete, class: "waves-effect waves-light btn deep-orange" %>
      <% end %>
    </p>
    <%= link_to "Back to your homepage", user_path(current_user), class: "waves-effect waves-light btn deep-orange" %>
  </div>
</div>