<h1>Team Name: <%= @team.name %></h1>
<p>Team Captain: <%= @team.creator.name %></p>
<p>Team Members:
  <ul>
    <% @members.each do |member| %>
      <%= render partial:"members", locals: {member: member} %>
    <% end %>
  </ul>
  <% if current_user && !@team.users.include?(current_user) %>
    <%= link_to "Join Team", join_team_path(@team), method: :post %>
  <% elsif current_user && @team.users.include?(current_user) %>
    <%= link_to "Leave Team", leave_team_path(@team), method: :delete %>
  <% end %>
</p>
