<div id="game-title">
  <%= link_to game.description, location_sport_game_path(game.location, game.sport, game), class: "game-title" %>
</div>
<div class="game-info">
  <ul>
    <li><%= game.date.strftime("%A, %d %b %Y") %></li>
    <li><span class = "game-data">Max Players:</span><%= game.max_number_of_participants %></li>
    <li><span class = "game-data">Difficulty:</span> <%= game.difficulty %></li>
    <li><span class = "game-data">Time Slot:</span> <%= game.start_at.strftime("%l:%M %p") %> - <%= game.end_at.strftime("%l:%M %p")%></li>
    <li><span class = "game-data">Address:</span> <%= game.address %></li>
  </ul>
</div>
