<div id="game-title">
  <%= link_to game.description, location_sport_game_path(game.location, game.sport, game), class: "game-title" %>
</div>
<div class="game-info">
  <ul>
    <li><%= game.date.strftime("%A, %d %b %Y") %></li>
    <li>Max Players:<br/>
      <%= game.max_number_of_participants %>
    </li>
    <li>Difficulty:<br/>
     <%= game.difficulty %>
   </li>
    <li>Time Slot:</br>
      <%= game.start_at.strftime("%l:%M %p") %> - <%= game.end_at.strftime("%l:%M %p")%>
    </li>
    <li>Address:<br />
     <%= game.address %>
   </li>
  </ul>
</div>
