<%= link_to game.description, location_sport_game_path(game.location, game.sport, game), class: "game-title" %>
<div class = "game-info">
  <ul>
  	<li>Max Players: <%= game.max_number_of_participants %></li>
  	<li>Time Slot: <%= game.start_at.strftime("%l:%M %p") %> - <%= game.end_at.strftime("%l:%M %p")%></li>
  	<li>Address: <%= game.address %></li>
  </ul>
</div>
