<div class = "container">
  <div class="row ajax-hide">
    <div class="card-panel white profile ajax-hide">
      <div class="row">
        <div class="center-align">
          <h3><%= @sport.name %></h3>
        </div>
        <div class="center-align calendar">
          <%= link_to '<i class="fa fa-angle-double-left"></i>'.html_safe, location_sport_path(@location, @sport, date: @date - 1.day) %></i>
          <%= @date_display %>
          <%= link_to '<i class="fa fa-angle-double-right"></i>'.html_safe, location_sport_path(@location, @sport, date: @date + 1.day) %>
        </div>
      </div>
      <div class="row" id="top-box">
        <div class="col s12 m12 l4 center-align">
          <% if current_user %>
          <%= render partial: "users_sports/form" %>
          <% end %>
        </div>
        <div  id="start-new-game">
          <div class="col s12 m12 l4 center-align">
            <%= render partial:"new_game_link" %>
          </div>
        </div>
        <div class="calendar">
          <div class="col s12 m12 l4 center-align">
            <%= form_for(@sport, url: location_sport_navigate_path(@location, @sport)) do |f| %>
            <%= render partial: "navigate_form", locals: {f: f} %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row games">
        <% @games.each do |game| %>
        <div class="col s12 m12 l4">
          <div class="card grey">
            <div class="card-content white-text flow-text">
              <span class="card-title"><td><%= render partial: "games", locals: {game: game} %></td></span>
            </div>
            <div class="card-action"></div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="new-game-form"></div>
</div>
