<div class = "container">
  <div class="row ajax-hide">
      <div class="card-panel white profile ajax-hide">
        <div class="row center-align calendar">
          <% if current_user %>
            <%= render partial: "users_sports/form" %>
          <% end %>
        </div>
        <div class="row center-align calendar">
          <div class="col s12 m12 l12">
            <%= link_to "<-", location_sport_path(@location, @sport, date: @date - 1.day) %>
            <%= @date_display %>
            <%= link_to "->", location_sport_path(@location, @sport, date: @date + 1.day) %>
          </div>
        </div>
        <div class="row calendar">
          <div class="col s12 m12 l12 offset-l4">
            <%= form_for(@sport, url: location_sport_navigate_path(@location, @sport)) do |f| %>
              <%= render partial: "navigate_form", locals: {f: f} %>
            <% end %>
          </div>
        </div>
        <div class="row games center-align ">
          <% @games.each do |game| %>
            <div class="col s12 m12 l4">
              <div class="card grey">
                <div class="card-content white-text flow-text">
                  <span class="card-title"><td><%= render partial: "games", locals: {game: game} %></td></span>
                  </div>
                  <div class="card-action"></div>
                </div>
              </div>
            <% end %>
        </div>
        <div class="row" id="start-new-game">
          <%= render partial:"new_game_link" %>
        </div>
        
      </div>
  </div>
  <div id="new-game-form"></div>
</div>
