<div class = "container">
	<div class="card white profile">
		<div class = "row">
			<div class="col l12">
				<h4 class = "deep-orange-text title"><img src = "<%= @user.image %>" class = "img-border"><%= @user.name %>'s Profile</h4>
				<% if current_user == @user && !@user.location %>
					<%= render partial: "intro" %>
			    <%= form_for @user do |f| %>
			      <%= render partial: "city_form", locals: {f: f} %>
			    <% end %>
				<% elsif current_user == @user %>
					<%= link_to "Create A Game", new_location_path, class: "waves-effect waves-light btn deep-orange" %>
					<%= link_to "Find A Game", location_path(@user.location), class: "waves-effect waves-light btn deep-orange" %>
				<% end %>
			</div>
		</div>
		<div class = "row">
			<div class="col s12">
				<ul class="tabs">
					<% if current_user == @user %>
						<li class="tab col s3"><a href="#today">Your Games Today</a></li>
					<% else %>
						<li class="tab col s3"><a href="#today">Their Games Today</a></li>
					<% end %>
					<li class="tab col s3"><a href="#upcoming">Upcoming Games</a></li>
					<li class="tab col s3"><a href="#friends">Friends</a></li>
					<li class="tab col s3"><a href="#teams">Teams</a></li>
					<% if current_user == @user && @user.location %><li class="tab col s3"><a href="#city">Change City</a></li><% end %>
				</ul>
			</div>
				<div id="today" class="col s12">
					<% @games_today.each do |game| %>
					  <%= render partial: "sports/games", locals: {game: game} %>
					<% end %>
				</div>
				<div id="upcoming" class="col s12">
					<% @games_upcoming.each do |game| %>
					  <%= render partial: "sports/games", locals: {game: game} %>
					<% end %>
				</div>
				<div id="friends" class="col s12">
					<ul class="collection">
						<% @user.users_from_previous_games.each do |participant| %>
							  <%= render partial: "friends", locals: {participant: participant} %>
						<% end %>
				  </ul>
				</div>
				<div id="teams" class="col s12">
					<% if current_user == @user %><%= link_to "Create Team", new_team_path, class: "waves-effect waves-light btn deep-orange" %><% end %>
					<ul class="collection">
						<% @teams.each do |team| %>
						  <%= render partial: "teams", locals: {team: team} %>
						<% end %>
					</ul>
				</div>
				<div id="city" class="col s12">
					<% if current_user == @user && @user.location %>
					  <p style = "text-decoration: underline;">Select Your City:</p>
				    <%= form_for @user do |f| %>
				      <%= render partial: "city_form", locals: {f: f} %>
				    <% end %>
					<% end %>
				</div>
		</div>
	</div>
</div>