<div class = "container">
	<div class="card white profile">
		<div class = "row">
			<div class="col l12">
				<h4 class = "title"><img src = "<%= @user.image %>" class = "img-border"><%= @user.name %>'s Profile</h4>
				<% if current_user == @user %>
				  <p style = "text-decoration: underline;">Select City:</p>
				    <%= form_for @user do |f| %>
				      <%= render partial: "city_form", locals: {f: f} %>
				    <% end %>
				  <p>
				  	<%= link_to "Create Team", new_team_path %>
				  </p>
				<% end %>
				<p>
				  <%= render partial: "teams", locals: {teams: @teams} %>
				 </p>
			</div>
		</div>
		<div class = "row">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col s3"><a href="#today">Games Today</a></li>
					<li class="tab col s3"><a href="#created">Games Created</a></li>
					<li class="tab col s3"><a href="#upcoming">Upcoming Games</a></li>
				</ul>
			</div>
				<div id="today" class="col s12">
					<% @games_today.each do |game| %>
					  <%= render partial: "sports/games", locals: {game: game} %>
					<% end %>
				</div>
				<div id="created" class="col s12">
					<% @games_created.each do |game| %>
					  <%= render partial: "sports/games", locals: {game: game} %>
					<% end %>
				</div>
				<div id="upcoming" class="col s12">
					<% @games_upcoming.each do |game| %>
					  <%= render partial: "sports/games", locals: {game: game} %>
					<% end %>
				</div>
		</div>
	</div>
</div>