<h1>Sport: <%= @game.sport.name %></h1>
<h1>Creator: <%= @game.creator.name %></h1>
<h1>Description: <%= @game.description %></h1>
<h1>Location: <%= @game.location.name %></h1>
<h1>Address: <%= @game.address %></h1>

<%= render partial: "edit_link", locals: {game: @game} %>

<%= render partial: "join_game", locals: {participant: @participant} %>

<%= render partial: "participants", locals: {participants: @participants} %>


