<h1>Sport: <%= @game.sport.name %></h1>
<h1>Creator: <%= @game.creator.name %></h1>
<h1>Description: <%= @game.description %></h1>
<h1>Location: <%= @game.location.name %></h1>
<h1>Address: <%= @game.address %>
<h1><%= @current_user.name %></h1>
<h1><%= link_to "Join Game", new_location_sport_game_participating_path(game_id: @game.id) %></h1>
<h1>Users signed up for event:
  <ul>
  <% @game.participants.each do |participant| %>
    <li><%= render partial: "participant", locals: {participant: participant} %></li>
  <% end %>
  </ul>
</h1>

