<div class="container">
    <div class="row">
        <div class="card-panel white">
          <div class="row">
            <div class="col s12 m12 l6">
              <%= render partial: "game_info" %>
            </div>
            <div class="col s12 m12 l6">
              <%= render partial: "shared/map", locals: {game: @game} %>
              <table>
                <tr class="col s12 l12">
                  <td>
                    <%= render partial: "add_team", locals: {game: @game} %>
                  </td>
                </tr>
              </table>
            </div>
        </div>
        <div class="row">
          <table>
            <tr class="col s12 l12">
              <td><div class="game-buttons"><%= render partial: "edit_link", locals: {game: @game} %></div></td>
              <td><div class="game-buttons"><%= render partial: "join_game", locals: {participant: @participant, game: @game} %></div></td>
              <td><div class="game-buttons"><%= render partial: "leave_game", locals: {participating: @participating, game: @game} %></div></td>
              <td><%= link_to "Delete Game", location_sport_game_path(@game.location, @game.sport, @game), method: :delete, class: "waves-effect waves-light btn deep-orange", onclick: "Materialize.toast('Game Deleted', 4000, 'red')" %></td>
            </tr>
          </table>
        </div>
      </div>
  </div>
</div>

